
<div class="container">
  <div class="card">
      <div class="card-body">    
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Image URL</th>
              <th>Instagram ID</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let member of members">
            <tr>
              <td>{{member.name}}</td>
              <td>{{member.imgUrl}}</td>
              <td>{{member.instagramId}}</td>
              <td>
                <a [routerLink]="['/admin', member._id]">Edit</a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>